 :root {
    background-color: #3a2f3d;
    color: #ffd650;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 }
 b, i {
    color: #6fff2d;
    font-weight: 700;
    font-style: italic;
 }

 .title_container {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
 }

 .counting_game_container {
    width: 60%;
    margin: auto;
 }

 #cards_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

 .card {
    background-color: #5c4b63;
    border: 2px solid #ffd650;
    border-radius: 10px;
    min-width: 300px;
    padding: 20px;
    margin: 10px;
    height: 500px;
    text-align: center;
 }


