 
 
 
 :root {
   --yellow: #FFBA44;
   --dark_purple: #30233B;
   --purple: #534D75;
   --neon_green: #5FD193;
   --neon_red: #DB533B;
   --neon_blue: #4F9EFF;
   --accent_blue: #704FFF;
   --bone_grey: #EBE0BC;
   --grey: #807A67;
   --dark_grey: #3B382F;
   --darkest_grey: #292721;

 }

body {
   background-color: var(--dark_purple);
   color: var(--yellow);
   font-family: "Google Sans Code", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

 b, i {
    color: var(--neon_green);
    font-weight: 700;
    font-style: italic;
 }

 .title_container {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
 }

 @media (max-width: 800px) {
    .title_container {
      width: 90%;
    }

    p, h1 {
      font-size: .8em;
    }
 }

 /*------------------GAME CONTAINER------------------*/

 .counting_game_container {
    width: 60%;
    align-self: center;
    justify-self: center;
 }

 @media (max-width: 800px) {
    .counting_game_container {
        width: 90%;
    }
 }

 /*------------------CARDS AND CARD CONTAINER------------------*/

 #cards_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    border: 2px solid var(--yellow);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    min-height: 200px;
    text-align: center;
}

.dealt_card {
  width: 150px;
}

@media (max-width: 800px) {
    .dealt_card {
        width: 80px;
    }
  }

 /*------------------CARD GAME BUTTON CONTAINER------------------*/

 .buttons_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }

 .buttons_container div {
   margin: 10px;
   padding: 5px;
 }

 .buttons_container button {
   background-color: var(--neon_green);
   color: var(--dark_purple);
   width: 150px;
   padding: 10px;
   border: none;
   border-radius: 5px;
   font-family: "Google Sans Code", monospace;
   font-optical-sizing: auto;
   font-weight: 800;
   font-style: normal;
   font-size: 20px;
   cursor: pointer;
 }

 @media (max-width: 800px) {
    .buttons_container button {
      background-color: var(--neon_green);
      color: var(--dark_purple);
      width: 100px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-family: "Google Sans Code", monospace;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
      font-size: 12px;
      cursor: pointer;
    }
 }

/*------------------RUNNING COUNT------------------*/

 #count {
   /*background-color: var(--neon_red);*/
   color: var(--darkest_grey);
   background-color: var(--neon_red);
   border-radius: 10px;
   padding: 5px 20px 5px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20%;
   min-width: 200px;
 }

 .running_count_button{
   width: 25px;
   cursor: pointer;
 }

 #running_count_hide_img {
   display: none;
 }

 #running_count_display {
   display: none;
 }

 /*------------------DECK COUNT DISPLAY AND SLIDER------------------*/

 #change_deck_count {
   min-width: 200px;
   display: inline;
   text-align: center;
   align-items: center;
   margin: 5px;
 }

 #deck_count {
   -webkit-appearance: none;
   background-color: var(--neon_blue);
   border-radius: 5px;
   opacity: 0.8;
   height: 10px;
   cursor: pointer;
 }

 #deck_count:hover {
   opacity: 1;
 }

 #deck_count::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 20px;
   height: 20px;
   background-color: var(--neon_blue);
   cursor: pointer;
   border-radius: 50%;
 }

#deck_count::-moz-range-thumb {
   width: 20px;
   height: 20px;
   background-color: var(--neon_blue);
   cursor: pointer;
   border-radius: 50%;
}

/*------------------CARD COUNT DISPLAY------------------*/

#number_of_cards {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   width: 330px;
   margin: 5px;
   padding: 5px 10px 5px 10px;
   border: #EBE0BC 2px solid;
   border-radius: 5px;
   background-color: var(--darkest_grey);
   color: var(--bone_grey)
}

#number_of_cards p {
   margin: 0;
}

.dealt_cards_ratio_display {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 5px !important;
   padding: 0px !important;
   font-size: 18px;
   margin-left: 10px;
   margin-right: 5px;
   font-weight: 700;
   color: var(--neon_green);
}

 .card_count_button{
   width: 25px;
   cursor: pointer;
   padding: 5px;
   border: none;
   border-radius: 50%;
   background-color: var(--bone_grey);
 }

 #card_count_show_img {
   display: none;
 }